.wrapper-companies {
  padding: 40px;
}
.section-link {
  color: #000;
  text-decoration: none;
}
.section-link:focus {
  border-bottom: 1px solid #1385cc;
}
.section-link:focus,
.section-link:hover {
  color: #000;
}
.text-right {
  text-align: right;
}
.dropdown a {
  color: #000 !important;
  text-decoration: none !important;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recharts-wrapper {
  height: 100% !important;
}
.title {
    font-weight: 500;
    font-size: 15px;
}
.text {
  font-weight: 300;
  font-size: 15px;
}
.blue {
    color: #1385CC;
}
.font-thin {
    font-weight: 200;
}
.font-middle {
    font-weight: 300;
}
.blue-color {
    color: #1385CC;
}
.btn-blue {
  
    color: #1385CC;
}
.bb-black {
    border-bottom : 1px solid #B1B1B1;
    padding-bottom: 10px;
}
.bb-black-secondary {
    border-bottom: 1px solid #D9D9D9;

}
.text-main {
    color: #5E5E5E;
}
.text-secondary {
    color: #848484;
}
.f-row {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.card {
    border: none !important;
}
.btn-border {
    background: none !important;
    border: none !important;
    border-bottom: 1px solid #000 !important;
    padding-bottom: 3px !important;
    padding: 0 !important;
}
.btn-border-large {
    border: 2px solid #1385CC;
    padding: 20px 30px;
    background: none;
    border-radius: 5px;
}
.contact-btn {
    width: 100% !important;
    padding: 20px !important;
}
.border-thin {
    border: 1px solid #DEDEDE;
    padding: 30px;
    border-radius: 10px;
}
.card-item:hover {
   transform: scale(2);
}
.card-item {
  transition: 2s ease-in-out;
  width: 100%;
  height: 15vw;
  object-fit: contain;
  border-radius: 10px;
}
@media sceen and (max-width: 600px) {
  .card-item {
    height: 100%;
  }
}