.navMain {
    background: #FFFFFF;
    box-shadow: 0px -5px 45px rgba(0, 0, 0, 0.14); 
}
.no-bold {
    font-weight: 300;
}
.btn-login {
    padding: 6px 40px !important;
}
.dropdown-lang {
    border: 1px solid #E3E3E3;
    border-radius: 5px;
    padding: 0px 20px !important;
}
.navbar-nav-scroll {
    max-height: 100% !important;
}
.mob-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row !important;
    /* padding-top: 60px ; */
}
@media screen and (max-width: 600px) {
    .mob-flex {
        padding-top: 60px ;
    }
    .dropdown-lang {
        padding: 0 20px !important;
    }
    .btn-login {
        padding-top: 7px !important;
        padding-bottom: 7px !important;
    }
}