.row {
  --bs-gutter-x: 0 !important;
}
.center-vertically {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
    background-color: #1385CC;
    color: #fff;
}
.MuiButton-containedPrimary {
    background-color: #1385CC !important;
}
.btn-primary {
    color: #fff;
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
    box-shadow: none !important;
}
.w-100 {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .login-wrapper {
        padding: 40px  !important;
    }
}
.h1 {
    font-size: 65px !important;
    font-weight: 400 !important;
}
.subtitle {
    font-size: 27px;
line-height: 40px;
/* identical to box height */


color: #000000;

opacity: 0.5;
font-weight: 300;
}

.MuiInputLabel-outlined {
    transform: translate(14px, -29px) scale(1) !important;
}
.letter-space-3 {
    letter-spacing: 3px;
}